@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">ADMIN</h1>
    <div>
        <p id="PublicAddress">
        </p>
        <p id="ChairPerson">
            sdfsdfsdfsdf
        </p>
        <p id="Balance">
            20 ETH
        </p>
    </div>
    <div>
        <form>
            <input type="text" placeholder="Provider Address" />
            <input type="text" placeholder="Provider Info" />
            <button> OK </button>
        </form>
    </div>
</div>
